/*
Set the font in

+ Context menu
+ Main menu
+ New tab page
+ Tab bar names
+ URL bar

It doesn't set the font in

+ Profile selector
+ Developer Tools

*/

* {
  font-family: Misc Fixed !important;
  font-size: 7px !important;
  font-style: normal !important;
  font-weight: 80 !important;
}

/*
Description
===========

Set background color to "white" and font color to "black" of all tabs but the selected one.
*/

.tab-content[selected] {
    background-color: white;
    color: black;
}

/*
Description
===========

Set background color to "black" and font color to "white" of all tabs but the selected one.
*/

.tab-content:not([selected]) {
    background-color: black;
    color: white;
}



#nav-bar{
  height: 40px;
}


/*
Description
===========

Hide close button present at the right side of all tabs.

*/

.tab-close-button {
  display: none !important;
}

/*
Description
===========

Expand tabs as much as possible

References
==========

+ https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/tabs_fill_available_width.css
*/

.tabbrowser-tab[fadein] {
  max-width: 100vw !important;
}

/*
Description
===========

Hide the "New Tab" button which appears at the right side of the tab bar.
*/


#tabs-newtab-button {
  display: none !important;
}

/*
Description
===========

Hide the addditional "New tab" button which appears when all tabs can be displayed at the same time
*/

#new-tab-button {
  display: none !important;
}

/*
Description
===========

Show index number at the left side of each tab name.

References
==========

https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/numbered_tabs.css
*/

.tabbrowser-tab:first-child {
  counter-reset: nth-tab 0;
}

.tab-text::before {
  content: counter(nth-tab) " ";
  counter-increment: nth-tab;
}

/*
Description
===========

Hide "Page actions" button, "Save to Pocket" and "Bookmark this Page" buttons.

*/


.urlbar-page-action {
    display: none;
}

/* The buttons that are placed in these toolbars are inserted through the "Customize" tool */

toolbarspring.chromeclass-toolbar-additional {
    display: none;
}

/*
Description
===========

Hide buttons with the following labels. The buttons that has been hidden were located in the left side of the URL bar

+ Firefox Home Page

and the following ones were located in the right side of the URL bar

+ View history, save bookmarks and more
+ Show sidebars
+ Firefox Account

*/

toolbarbutton#library-button,
toolbarbutton#sidebar-button,
toolbarbutton#fxa-toolbar-menu-button,
toolbarbutton#home-button {
    display: none;
}


