/*
Description
===========

Change the font to all rendered text in the "Developer Tools" panel.
*/

@-moz-document
url-prefix("chrome://devtools/content") {
  * {
		font-family: Misc Fixed !important;
		font-size: 7px !important;
		font-style: normal !important;
		font-weight: 80 !important;
  }
}

/*
Description
===========

Change the font to the "Developer Tools" subpanel labels ("Console", "Inspector", "Style Editor", etc.)
*/

@-moz-document
url("about:devtools-toolbox") {
  * {
		font-family: Misc Fixed !important;
		font-size: 7px !important;
		font-style: normal !important;
		font-weight: 80 !important;
  }
}

/*
Description
===========

Set background color, foreground color and thickness for the scrollbar.
*/

:root {
    scrollbar-color: #fff #000;
    scrollbar-width: thin;
}

