:root.TridactylThemeBlackwhite #tridactyl-colon::before {
  /* Character shown in the beginning of the command prompt */
  content: "$ ";
}

:root.TridactylThemeBlackwhite {

    /*
     * Generic
     */
    
    --tridactyl-font-family: Misc Fixed;
    --tridactyl-font-size: 7pt;
    --tridactyl-bg: black;
    --tridactyl-fg: white;

    /*
     * Mode indicator
     */

    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-size: var(--tridactyl-font-size);
    --tridactyl-status-bg: var(--tridactyl-bg);
    --tridactyl-status-fg: var(--tridactyl-fg);
    --tridactyl-status-border: 1px white solid;
    --tridactyl-status-border-radius: 0px;
    
    /*
     * Hint character tags
     */
    
    --tridactyl-hintspan-font-family: var(--tridactyl-font-family);
    --tridactyl-hintspan-font-weight: 80;
    --tridactyl-hintspan-font-size: var(--tridactyl-font-size);
    --tridactyl-hintspan-fg: black;
    --tridactyl-hintspan-bg: white;
    --tridactyl-hintspan-border-color: black;
    --tridactyl-hintspan-border-width: 1px;
    --tridactyl-hintspan-border-style: solid;

    /*
     * Hint items
     */
    
    --tridactyl-hint-bg: #ffffff30;
    --tridactyl-hint-outline: 1px solid black;

    /* 
     * Completion
     */
    
    --tridactyl-cmplt-option-height: 1.4em;
    --tridactyl-cmplt-fg: var(--tridactyl-fg);
    --tridactyl-cmplt-bg: var(--tridactyl-bg);
    --tridactyl-cmplt-font-size: 7pt;
    --tridactyl-cmplt-font-family: Misc Fixed;
    --tridactyl-cmplt-border-top: 1px solid black;
    
    /*
     * Command-line
     */
    
    --tridactyl-cmdl-bg: var(--tridactyl-bg);
    --tridactyl-cmdl-fg: var(--tridactyl-fg);
    --tridactyl-cmdl-line-height: 1;
    --tridactyl-cmdl-font-family: var(--tridactyl-font-family);
    --tridactyl-cmdl-font-size: var(--tridactyl-font-size);
}
